button {
  border: 1px solid #999;
  background-color: #ccc;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #aaa;
  }
  // span.left-ic,
  // span.right-ic {
  //   display: none;
  // }

  &.has-left-icon {
    span.left-ic {
      display: inline-block;
    }
  }

  &.has-right-icon {
    span.right-ic {
      display: inline-block;
    }
  }
}