<div>
  <h2 class="content-header">User creation</h2>
  <app-button (click)="createUser()">Create user</app-button>
  <p>
    <span>User created: </span>
    <span>{{ (user?.state$ | async)?.name }}</span>
  </p>
  <p>
    <span>User address: </span>
    <span>{{ (user?.state$ | async)?.address?.street }}</span>
  </p>
  <p>Users pets:</p>
  <ul>
    <li *ngFor="let pet of (user?.store.state$ | async)?.pets">
      {{ pet.name }} ({{ pet.type }})
    </li>
  </ul>
  <div>
    <p>Change users name</p>
    <input
    [value]="(user?.state$ | async)?.name"
    (input)="user?.updateName($event.target.value)" />
  </div>
  <div>
    <p>Change users address</p>
    <input
    [value]="(user?.state$ | async)?.address?.street"
    (input)="user?.address.updateStreet($event.target.value)" />
  </div>
</div>